$black: #080808;
$black15: #151515;
$black1d: #1d1d1d;
$white: #FFFFFF;
$lightGray: #F9F9F9;
$gray: #EEEEEE;
$boldGray: #A4A4A4;
$darkGray: #666666;
$red: #FF0040;
$blue: #1870F4;
$darkBlue: #003569;
$yellow: #FFFC00;
$lightYellow: #FFEE00;
$apricot: #FEC44F;
$boldApricot: #FFB624;
